/*#########Defaults###########*/
nav,header, footer{
    display: block;
} 
body{
    line-height: 1;
    margin: 0;
}
label{
    font-size: 35px;
    font-weight: 600;
}   
p{
    font-size: 20px;
    line-height: 1.2; 
    font-weight: 500;
}
article p{
    font-size: 30px;
    padding: 20px;
}
.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.row::after{
    display: table;
    clear: both;
    content: "";
}
.col1 {width: 8.33%;}
.col2 {width: 16.66%;}
.col3 {width: 25%;}
.col4 {width: 33.33%;}
.col5 {width: 41.66%;}
.col6 {width: 50.0%;}
.col7 {width: 58.33%;}
.col8 {width: 66.66%;}
.col9 {width: 75%;}
.col10 {width: 83.33%;}
.col11 {width: 91.66%;}
.col12 {width: 100%;}
*{
    box-sizing: border-box;
}
/*############Nav Bar###############*/
nav{
    width: 100%;
    margin: 0;
}
nav ul{
    overflow: hidden;
    background-color: #eee;
    margin: 0;
    padding: 0;
}
ul.topnav li{
    list-style: none;
    float: left;
}
ul.topnav li.topnav-right{
    list-style: none;
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration:  none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}
ul.topnav li a:hover{
    background-color: #0080ff;
    color: #fff;
}
ul.topnav li.dropdownIcon{
    display: none;
}
/*############Custom Styles########*/
#section1gradient{
    background: linear-gradient(#076DFF, #65A5FF);
    }
div.box {
    text-align: center;
    margin: 24px;
    border-radius: 7px;
    padding: 36px 24px 40px 24px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 0 2px 3px 0 rgba(0,0,0,0.1);
}
.slopeicon img{
    display: block;
    margin: auto;
    box-shadow: -2px/*Horizontal*/ -2px/*Vertical*/ 5px/*Blur*/ 6px/*Spread*/ rgba(0/*Shadow*/,0/*Background Color*/,0/*Box Color*/,0.15/*Opacity*/),2px 2px 4px 4px rgba(0,0,0,0.1); 
}
button{
    font-size: 32px;
    font-weight: 700;
    background: #0069ff;
    color: #fff;
    padding: 15px 60px;
    display: block;
    text-align: center;
    border-radius: 7px;
    margin: 5px;
}
button.learnmore{
    display: block;
    margin: auto;
}
div.icon{
   width: 100%; 
}
div.leftside-col{
    margin-left: 30%;
}
div.rightside-col{
    margin-left: 15%;
}
h1.lar{
    color: #fff;
    font-size: 56px;
    margin: 0;
    line-height: 70px;
}
h1.section2header{
    font-size: 65px;
    text-align: center;
}
form h2{
    color: #fff;
}
input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width: 100px;
    padding: 5px;
    border-radius: 7px;
}
.footsy{
    background: #666;
    padding-left: 10%;
}
.footsy h1{
    color: #fff;
    font-size: 30px;
}
.footsy ul{
    list-style: none;
    color: #fff;
    text-align: left;
    padding-left: 0; 
}
.footsy ul li{
    color: #fff;
    font-size: 17px;
    line-height: 1.5;
}
/*##############Mobile############*/
@media screen and (max-width: 680px){
    ul.topnav li:not(:nth-child(1)){
    display: none;
    }
    ul.topnav li.dropdownIcon{
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownIcon{
        position: absolute;
        top: 0;
        right: 0;
    }
    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    ul.topnav.responsive li a{
        text-align: left;
        display: block;
    }
    .section2header{
        font-size: 50px;
    }
    article p{
        font-size: 20px;
    }
    div.slopeicon{
        margin: 10px;
    }
    div.slopeicon img{
        width: 100%;
    }
    .col6,.col4,.col7,.col5{
        width: 100%;
        margin: 0;
    }
    .mobilestate{
        width: 50%;
        display: block;
    }
    div.box {
        padding: 5px;
    }
    div.leftside-col,div.rightside-col{
        margin: 15px
    }
    input[type="text"]{
        width: 300px;
    }
    .videocontainer iframe {
        position: relative;
        width: 100%;
        margin: 0;
        overflow: hidden;
    }
}